[submodule "jconstraints-custom"]
	path = jconstraints-custom
	url = https://github.com/jk-tud/jconstraints.git
	branch = gdart-llvm
[submodule "dse"]
	path = dse
	url = https://github.com/tudo-aqua/dse.git
	branch = witness
[submodule "competition-scripts"]
	path = competition-scripts
	url = https://gitlab.com/sosy-lab/benchmarking/competition-scripts.git
